engine-strict=true
# pnpm settings to help with module resolution
shamefully-hoist=true
public-hoist-pattern[]=*@tensorflow*
public-hoist-pattern[]=*@vladmandic*
public-hoist-pattern[]=*@prisma*
public-hoist-pattern[]=*prisma*
node-linker=hoisted

# Add these for better compatibility
strict-peer-dependencies=false
auto-install-peers=true